[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=CuteSpot
Icon=harbour-cutespot
Exec=harbour-cutespot %u
MimeType=x-maemo-urischeme/spotify;x-scheme-handler/spotify;
